@import "tailwindcss";


*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 10vh);
}

body {
    min-height: 100svh;
}

body:has(.requires-no-scroll) {
    overflow: hidden;
}

main {
    padding: 0.5rem;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    hanging-punctuation: first;
    text-wrap: pretty;
}

h2 {
    font-size: 1.5rem;
}

p {
    text-wrap: pretty;
}

@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
    }
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

li {
    list-style-position: inside;
}

section {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
