worktrees/

# Local .terraform directories
**/.terraform/*
.terraform.*
**/terraform.tfstate

# .tfstate files
*.tfstate.backup

dist

node_modules/
package-lock.json

# Allow

!./deploy/upload/terraform.tfstate
