.blur {
    animation: blur-in 3000ms;
}

.mask {
    mask-image: url("/velmaMode/intro/velmaMask.png");

    mask-size: 350px 350px;
}

.move_up {
    animation: move-up 1500ms;
}

.blur_up {
    animation: blur-up 1500ms;
}

@keyframes blur-in {
    0% {
        filter: blur(4px);
    }

    50% {
        filter: blur(4px);
    }

    100% {
        filter: blur(0px);
    }
}

@keyframes blur-up {
    0% {
        mask-position: 0 100px;
    }

    100% {
        mask-position: 0 0px;
    }
}

@keyframes move-up {
    0% {
        top: 100px;
    }

    100% {
        top: 0px;
    }
}
