.container {
    display: grid;

    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

.tl {
    grid-row: 1/6;
    grid-column: 1/6;
}

.br {
    grid-row: 5/9;
    grid-column: 5/9;
}

.imageDefaults {
    position: relative
}
