.queue_up3 {
    animation: queue-up 3000ms;
}

.queue_up2 {
    animation: queue-up 800ms;
}

.queue_up1 {
    animation: queue-up 500ms;
}

.talk3 {
    animation: show-text 3000ms;
}

.talk2 {
    animation: show-text 3300ms;
}

.talk1 {
    animation: show-text 3800ms;
}

@keyframes queue-up {
    0% {
        transform: translate(100px, -100px);
        scale: 0.5;
    }

    100% {
        transform: translate(0px, 0px);
        scale: 1;
    }
}

@keyframes show-text {
    0% {
        visibility: hidden;
    }

    99% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}
