.drop_bounce1{
    animation: drop-sway-a 1000ms;
}

.drop_bounce2{
    animation: drop-sway-b 1200ms;
}

.drop_bounce3{
    animation: drop-bounce 800ms;
}

@keyframes drop-bounce {
    0% {
        transform: translate(0px, -100px);
    }

    33% {
        transform: translate(0px, 5px);
    }

    69% {
        transform: translate(0px, -10px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes drop-sway-a {
    0% {
        transform: translate(0px, -100px);
    }

    33% {
        transform: translate(-2px, 5px);
    }

    69% {
        transform: translate(2px, -10px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes drop-sway-b {
    0% {
        transform: translate(0px, -100px);
    }

    33% {
        transform: translate(2px, 5px);
    }

    69% {
        transform: translate(-2px, -10px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}
