.drop_bounce1{
    animation: drop-bounce 1000ms, drop-sway-a 1000ms;
}

.drop_bounce2{
    animation: drop-bounce 1200ms, drop-sway-b 1200ms;
}

.drop_bounce3{
    animation: drop-bounce 800ms;
}

@keyframes drop-bounce {
    0% {
        top: -100px;
    }

    33% {
        top: 5px;
    }

    69% {
        top: -10px;
    }

    100% {
        top: 0px;
    }
}

@keyframes drop-sway-a {
    0% {
        left: 0px;
    }

    33% {
        left: -2px;
    }

    69% {
        left: 2px;
    }

    100% {
        left: 0px;
    }
}

@keyframes drop-sway-b {
    0% {
        left: 0px;
    }

    33% {
        left: 2px;
    }

    69% {
        left: -2px;
    }

    100% {
        left: 0px;
    }
}
