.blur {
    animation: blur-in 3000ms;
}

.mask {
    mask-image: url("/velmaMode/velmaMask.png");
    mask-repeat: no-repeat;
    mask-origin: content-box;
    mask-position: center;
    mask-size: 100%;
}

.move_up {
    animation: move-up 1500ms;
}

.blur_up {
    animation: blur-up 1500ms;
}

@keyframes blur-in {
    0% {
        filter: blur(4px);
    }

    50% {
        filter: blur(4px);
    }

    100% {
        filter: blur(0px);
    }
}

@keyframes blur-up {
    0% {
        mask-position: center 5rem;
    }

    100% {
        mask-position: center;
    }
}

@keyframes move-up {
    0% {
        top: 100px;
    }

    100% {
        top: 0px;
    }
}
