.blur_in {
    animation: blur-in 8000ms;
}

@keyframes blur-in {
    0% {
        filter: blur(4px);
    }

    50% {
        filter: blur(4px);
    }

    100% {
        filter: blur(0px);
    }
}

.glasses_on {
    animation: glasses-on 4000ms;
}

@keyframes glasses-on {
    0% {
        transform: translate(0px, 100px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.mask {
    mask-image: url("/velmaMode/velmaMask.png");
    mask-repeat: no-repeat;
    mask-origin: content-box;
    mask-position: center;
    mask-size: 100%;
}

.mask_up {
    animation: mask-up 4000ms;
}

@keyframes mask-up {
    0% {
        mask-position: 0px 100px;
    }

    100% {
        mask-position: 0px 0px;
    }
}
