.container_image {
    position: relative;
    height: 200px;
    width: 200px;
}

.container_standout {
    padding-right: 1rem;
}

.container_content {
    height: inherit;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
}

.img {
    position: absolute;
}
