section {
    overflow: hidden;
    height: 100%;
    width: 100%;

    padding: 0.5rem;
}

.panel_row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    padding: 1rem;
}

.panel_col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 1rem;
}

.card {
    height: 100%;
    width: 100%;
}

.card:hover {
    border-radius: 10px;
    box-shadow: 0 0 0.9rem 0.1rem currentColor;
}

.link {
    color: currentColor;
}

.link:hover {
    color: currentColor;
}

.title {
    padding: 1rem 2rem;
}

.points {
    height: 100%;
    width: 100%;

    padding: 1rem;
}

.list_flex {
    height: inherit;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
